// lib imports

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


// custom imports

@import './base/fonts';
@import './base/vars';
@import './base/mixins';
@import './base/base';
@import './base/typography';

@import './modules/card';

@import './layout/header/header';
@import './layout/header/nav';

@import './layout/main/main';
@import './layout/main/section';

@import './layout/footer/footer';
